<div class="banner-div">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1516211697506-8360dbcfe9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);">
    <div class= "banner-content">
      <h1><strong>Minha Feira</strong></h1>
      <p>Trazendo toda a saúde da sua feira para a sua casa.</p>
     <!--  <%= simple_form_for :query, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" >
         <button name="button" type="submit" class="btn btn-flat">
         <i class="fas fa-search"></i> Search -->
         <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Pesquise uma banca"
            %>
            <%= submit_tag "Busca", class: "btn btn-primary" %>
          <% end %>
         </button>
      </div>
      <% end %>
     </div>
   </div>
</div>

<p>Click the button to get your coordinates.</p>

<!-- <button onclick="getLocation()">Try It</button> -->

<p id="demo"></p>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards">
        <% @shops[0..3].each do |shop| %>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title font-weight-bold"><%= shop.name %></h4>
              <p class="card-text"><%= shop.description %></p>
              <p class="card-text-address"><%= shop.address %></p>
              <div>
                <%=link_to "Veja mais",
                   shop_path(shop),
                   class: "btn-see-more" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% (1..(@shops.length-4)).each do |e| %>
      <% f = e + 3 %>
      <div class="carousel-item">
        <div class="cards">
          <% @shops[e..f].each do |shop| %>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title font-weight-bold"><%= shop.name %></h4>
                <p class="card-text"><%= shop.description %></p>
                <p class="card-text-address"><%= shop.address %></p>
                <div >
                  <%=link_to "Veja mais",
                     shop_path(shop),
                     class: "btn-see-more" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
