<div class="banner-div">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1488459716781-31db52582fe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
    <div class="container">
      <h1><strong>Minha feira</strong></h1>
      <p>Trazendo toda a saúde da sua feira para a sua casa.</p>
      <%= link_to "Create your shop here!", new_shop_path, class: "btn btn-outline-light" %>
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
        </button>
      </div>
      <% end %>
      <div class="row">
        <% Shop.all.each do |shop| %>
          <div class="cards">
            <div class="container">
              <div>
                <%= image_tag "banca.jpg",height: 200, width: 260 %>
              </div>
              <div>
                <p><%= shop.name %></p>
                <p><%= shop.description %></p>
                <p><%= shop.address %></p>
                <%= link_to "See more", shop_path(shop) %>
                <% if policy(shop).edit? %>
                  <%= link_to "Update", edit_shop_path(shop) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
