<div class="container">
  <h1><strong>Minha feira</strong></h1>
  <p>Trazendo toda a saúde da sua feira para a sua casa.</p>
  <div class="shop-card" >
    <p><%= @shop.name.capitalize %></p>
    <p><%= @shop.description %></p>
    <p><%= @shop.address %></p>
    <%= link_to "Delete Shop",
       shop_path,
       method: :delete,
       data: { confirm: "Are you sure?" },
       class: "btn btn-outline-success" %>
</div>

<div class="container">
  <% Product.where(shop_id: @shop.id).each do |product| %>
    <p>Produto:<%= product.name %> Preço: <%= product.price %></p>
    <%= link_to "Delete Product",
       product_path(product),
       method: :delete,
       data: { confirm: "Are you sure?" },
       class: "btn btn-outline-success" %>
  <% end %>
</div>
