
      <div  style="text-align: center">
        <h1><strong>Sua banca</strong></h1>
      </div>
      <div class="shop-card row justify-content-center" >
        <p><%= @shop.name.capitalize %></p>
        <p><%= @shop.description %></p>
        <p><%= @shop.address %></p>
        <%= link_to "Delete Shop",
           shop_path,
           method: :delete,
           data: { confirm: "Are you sure?" },
           class: "btn btn-outline-light" %>
      </div>



<div class="container">
  <% Product.where(shop_id: @shop.id).each do |product| %>
    <p>Produto:<%= product.name %> Preço: <%= product.price %></p>
    <%= link_to "Delete Product",
       product_path(product),
       method: :delete,
       data: { confirm: "Are you sure?" },
       class: "btn btn-outline-success" %>
  <% end %>
</div>

