<div class="container form-new-shop justify-content-center col-8">
  <%= simple_form_for(@shop) do |f| %>
    <div class="group">
        <%= f.input :name, class: "highlight", label: 'Nome da sua banca', error: 'O nome é obrigatório, não se esqueça.' %>
          <span class="bar"></span>
        </div>
        <div class="group">
          <%= f.input :address, class: 'highlight', id: "shop_address", label: 'Endereço', error: 'Opa! Você esqueceu dessa informação.' %>
        </div>
        <div class="group">
          <%= f.input :description, class: 'highlight', label: 'Descreva a sua banca', error: 'Faltou uma descrição sobre a sua loja aqui.' %>
        </div>
        <div>
          <%= f.input :category, class: 'highlight', label: 'Categoria', as: :radio_buttons, collection: [['Alimentos'], ['Artesanato'], ['Plantas'], ['Roupas']], error: 'Você precisa escolher uma categoria' %>
        </div>
        <div>
          <%= f.input :photo, as: :file, label: 'Insira uma foto' %>
        </div>
        <div>
          <%= f.submit 'Abrir minha feira', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
</div>

