
<div class="container-cart">
  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge"><%= @cart_sum.length %></span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text">$ <%= @total_bill %>.00</span>
      </div>
    </div> <!--end shopping-cart-header -->

    <ol class="shopping-cart-items">
      <% @cart_sum.each do |cart_product| %>
        <li class="clearfix">
          <% if cart_product[1][0].product.photo.attached? %>
            <%= image_tag cart_product[1][0].product.photo, alt: "Produto", height: 50, width: 50, crop: :fill %>
          <% else %>
            <%= image_tag "banca.jpg", alt: "Produto", height: 50, width: 50, crop: :fill %>
          <% end %>
          <span class="item-name"><%= cart_product[1][0].product.name %></span>
          <span class="item-price">$<%= cart_product[1][0].product.price %>.00</span>
          <span class="item-quantity">Quantity: <%= cart_product[1].length %></span>
        </li>
      <% end %>
    </ol>
    <div class="btn-cart">
      <%= link_to "Finalizar",
          cart_path(@cart),
          method: :put,
          data: { confirm: "Are you sure?" },
          class: "btn-see-more" %>
    </div>
  </div> <!--end shopping-cart -->
</div> <!--end container -->
