
 <div class= "form-title" style="text-align: center">
    <h1><strong>Altere seu produto</strong></h1>
  </div>
  <div class="container-form">
      <div class="shop-form">
      <%= simple_form_for @product, url: product_path(@product) do |f| %>
        <%= f.input :name,  class: "highlight", label: 'Nome do seu produto', error: 'O nome é obrigatório, não se esqueça.' %>
        <%= f.input :price, class: 'highlight', label: 'Preço', error: 'Opa! Você esqueceu dessa informação.' %>
        <%= f.input :description, class: 'highlight', label: 'Descreva o seu produto', error: 'Faltou uma descrição sobre a sua loja aqui.'  %>
        <%= f.input :category, label: 'Categoria', as: :radio_buttons, collection: [['Alimentos'], ['Artesanato'], ['Plantas'], ['Roupas']], error: 'Você precisa escolher uma categoria' %>
        <%= f.input :photo, as: :file, label: 'Foto' %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>



<style>
 body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1560717789-0ac7c58ac90a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}
</style>

