<body class="new-product">
 <div class= "form-title" style="text-align: center">
    <h1><strong>Adicione um produto</strong></h1>
   </div>
    <div class="container-form">
       <div class="shop-form">
        <%= simple_form_for [@shop, @product] do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</body>
