
    <div class="container">
      <h1><strong>Adicione um produto</strong></h1>
      <div class="shop-form">
        <%= simple_form_for([Shop.find(params[:shop_id]), @product]) do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
