

    <div class="container">
      <h1><strong>Minha feira</strong></h1>
      <p>Trazendo toda a saúde da sua feira para a sua casa.</p>
      <div class="shop-form">
        <%= simple_form_for [@shop, @product] do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

