 <div class= "form-title" style="text-align: center">
    <h1><strong>Adicione um produto</strong></h1>
   </div>
    <div class="container-form">
       <div class="shop-form">
        <%= simple_form_for [@shop, @product] do |f| %>
          <%= f.input :name, label: "Nome" %>
          <%= f.input :price, label: "Preço" %>
          <%= f.input :description, label: "Descrição" %>
          <%= f.input :category, label: "Categoria" %>
          <%= f.input :photo, label: "Foto", as: :file %>
          <%= f.button :submit, "Adicionar produto", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>


<style>
 body {
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1569976711256-bdfd440863c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1912&q=80");
}
</style>
